body {
  color: #FFFFFF;
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1.666;
}


section {
  padding: 50px 0px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
}

.big-title {
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 0 auto;
/*  outline: 1px solid red;*/
}

.container-narrow {
  width: 70%;
/*  outline: 1px solid red;*/
}
.container-small{
  max-width: 860px;

}
.site-header ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-header ul li{
  display: inline-block;
  margin-right: 100px;
}
.site-header ul li:last-child{
  margin-right: 0px;
}
.site-header a{
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: 'Roboto Mono', monospace;
}.site-header a:hover{
    color: #f1544b;
}
.site-header .logo .name{
  display: none;
}
.site-header .logo{
    margin-right: 100px;
}
.site-header .logo,
.site-header  nav {
  display: inline-block;
  vertical-align: middle;
}




.intro {
    font-size: 1.2rem;
    text-align: center;
}







.section-mixtapes {
    background-color: #f1544b;
}

.section-mixtapes .container {
    background-color: black;
}
